.card {
    background: rgba(0,0,0,0.2);
    min-height: 475px;
    width: 450px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}